
#transition-obj {
    height: 200px;
    width: 100px;
    background: dodgerblue;

    transition-property: none;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: ease-out;

}

#transition-obj:focus, #transition-obj:hover {
    transition-property: width, height, background-color;
    cursor: pointer;
    width: 100%;
    height: 400px;
    background-color: darkviolet;
}
